<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <!-- Limit uploads to 1024K. -->
    <httpRuntime maxRequestLength="1024"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="AppName" value="EWSoftware PDI Class Library Web Demo"/>
    <add key="Version" value="2025.1.9.0"/>
    <add key="MenuAppName" value="EWSoftware PDI Demo"/>
    <add key="LogoImage" value="EWSPDI.bmp"/>
    <add key="LogoText" value="EWSoftware.PDI"/>
    <add key="AppMenuXSD" value="AppMenu.xsd"/>
    <add key="AppMenuXML" value="AppMenu.xml"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
</configuration>